* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}

html {
   font-family: "Quicksand", sans-serif;
}

a {
   text-decoration: none;
   color: currentColor;
}

img {
   max-width: 100%;
}

ul, ol {
   list-style: none;
}
/* LAYOUT */

.container {
   max-width: 900px;
   margin: 0 auto;
}

.row {
   display:flex;
   flex-wrap: wrap;
}

.col-33 {
   width: calc(100%/3);
   padding:10px;
}

.col-50 {
   width:50%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
}

.left {

}

.right {

}

/* HEADER */

.page-header {
   background-color: rgb(255, 102, 0);
   display: flex;
   color: white;
   justify-content: space-around;
   align-items: center;
   padding: 8px 0px;
}

.logo-wrapper {
   flex-shrink: 0;
   font-size: 0;
}

.logo {
 height: 35px;
}

.icons-wrapper {
   flex-shrink: 0;
   font-size: 0;
}

.icons {
   height: 25px   ;
   padding: 0px 3px;
}

.main-menu {
   display: flex;
   gap: 10px;
   font-weight: bold;
}

/* BODY */

.welcome {
   text-align: center;
   padding: 50px 0px;
   line-height: 2.5em;
}

.brand {
   font-style: italic;
}

.product {
   font-weight: bold;
}

.description {
   border: 1px solid #e8e8e8;
   margin-top:-5px;
   padding:10px 8px;
}

.price {
 font-weight: bold;
 color:red;
}

.ex-price {
text-decoration: line-through;
padding-right: 5px;
}

/* FOOTER */

.page-footer {
   background-color:black;
   color: white;
   position: fixed;
   left:0;
   bottom:0;
   width: 100%;
   display: flex;
   justify-content: space-around;
}

.footer-menu {
   font-size: 14px;
   font-style: italic;
   display: flex;
   gap: 10px;
}

.footer-menu img {
   height:25px;
}

.foot-container {
   width:100%;
   margin: 0 auto;
}