/* RESET RULE */

* {
   margin:0;
   padding:0;
   box-sizing: border-box;
}

html {
   font-family: "Quicksand", sans-serif;
}

a {
   text-decoration: none;
   color: currentColor;
}

img {
   max-width: 100%;
}

ul, ol {
   list-style: none;
}

/* LAYOUT */

.container {
   max-width: 1000px;
   margin: 0 auto;
}

.row {
   display:flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.col-33 {
   width: calc(100%/3);
   padding:10px;
}

.col-50 {
   width:50%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   row-gap: 5px;
}

/* HEADER */

.page-header {
   background-color: rgb(255, 102, 0);
   color: white;
}

.navbar {
   display: flex;
   justify-content: flex-start;
}

.logo-wrapper {
   display: flex;
   justify-content: center;
   flex-shrink: 0;
   font-size: 0;
}

.logo {
   max-height: 35px;
   min-height: 20px;
   min-width: 80px;
}

.shop-icon {
   display:flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}

.icons-wrapper {
   font-size: 0;
}

.icons {
   height: 25px   ;
   padding: 0px 3px;
}

.main-menu {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   font-weight: bold;
}

.menu {
   display:flex;
   flex-wrap: wrap;
   align-items: center;
}

/* BODY */

body {
   background-color: aliceblue;
}

.welcome {
   text-align: center;
   padding: 40px 0px;
}

.products {
   padding-bottom: 40px;
}

.brand {
   font-style: italic;
}

.product {
   font-weight: bold;
}

.description {
   border: 1px solid #e8e8e8;
   background-color: #e8e8e8;
   margin-top:-5px;
   padding:10px 8px;
}

.price {
 font-weight: bold;
 color:red;
}

.ex-price {
text-decoration: line-through;
padding-right: 5px;
}

/* FOOTER */

.page-footer {
   background-color:black;
   color: white;
   padding: 15px;
}

.footer-menu {
   font-size: 14px;
   font-style: italic;
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.footer-menu img {
   height:25px;
}

.left {
   align-content: flex-start;
   align-items: flex-start;
}

.right {
   align-content: flex-end;
   align-items: center;
}
